.w3-theme-l5-b {color:#000 !important; background-color:#eaf5ff !important}
.w3-theme-l4-b {color:#000 !important; background-color:#b8deff !important}
.w3-theme-l3-b {color:#000 !important; background-color:#70bcff !important}
.w3-theme-l2-b {color:#fff !important; background-color:#299bff !important}
.w3-theme-l1-b {color:#fff !important; background-color:#0078e0 !important}
.w3-theme-d1-b {color:#fff !important; background-color:#00498a !important}
.w3-theme-d2-b {color:#fff !important; background-color:#00417a !important}
.w3-theme-d3-b {color:#fff !important; background-color:#00396b !important}
.w3-theme-d4-b {color:#fff !important; background-color:#00315c !important}
.w3-theme-d5-b {color:#fff !important; background-color:#00294d !important}

.w3-theme-light-b {color:#000 !important; background-color:#eaf5ff !important}
.w3-theme-dark-b {color:#fff !important; background-color:#00294d !important}
.w3-theme-action-b {color:#fff !important; background-color:#00294d !important}

.w3-theme-b {color:#fff !important; background-color:#00539b !important}
.w3-text-theme-b {color:#00539b !important}
.w3-border-theme-b {border-color:#00539b !important}

.w3-hover-theme-b:hover {color:#fff !important; background-color:#00539b !important}
.w3-hover-text-theme-b:hover {color:#00539b !important}
.w3-hover-border-theme-b:hover {border-color:#00539b !important}

.w3-theme-l5-r {color:#000 !important; background-color:#fceded !important}
.w3-theme-l4-r {color:#000 !important; background-color:#f6c3c3 !important}
.w3-theme-l3-r {color:#fff !important; background-color:#ed8686 !important}
.w3-theme-l2-r {color:#fff !important; background-color:#e44a4a !important}
.w3-theme-l1-r {color:#fff !important; background-color:#ca1e1e !important}
.w3-theme-d1-r {color:#fff !important; background-color:#801313 !important}
.w3-theme-d2-r {color:#fff !important; background-color:#721111 !important}
.w3-theme-d3-r {color:#fff !important; background-color:#630f0f !important}
.w3-theme-d4-r {color:#fff !important; background-color:#550d0d !important}
.w3-theme-d5-r {color:#fff !important; background-color:#470b0b !important}

.w3-theme-light-r {color:#000 !important; background-color:#fceded !important}
.w3-theme-dark-r {color:#fff !important; background-color:#470b0b !important}
.w3-theme-action-r {color:#fff !important; background-color:#470b0b !important}

.w3-theme-r {color:#fff !important; background-color:#8c1515 !important}
.w3-text-theme-r {color:#8c1515 !important}
.w3-border-theme-r {border-color:#8c1515 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#8c1515 !important}
.w3-hover-text-theme:hover {color:#8c1515 !important}
.w3-hover-border-theme-r:hover {border-color:#8c1515 !important}

.w3-theme-l5-g {color:#000 !important; background-color:#e7fff1 !important}
.w3-theme-l4-g {color:#000 !important; background-color:#afffd2 !important}
.w3-theme-l3-g {color:#000 !important; background-color:#60ffa5 !important}
.w3-theme-l2-g {color:#000 !important; background-color:#10ff78 !important}
.w3-theme-l1-g {color:#fff !important; background-color:#00c053 !important}
.w3-theme-d1-g {color:#fff !important; background-color:#00652c !important}
.w3-theme-d2-g {color:#fff !important; background-color:#005a27 !important}
.w3-theme-d3-g {color:#fff !important; background-color:#004f22 !important}
.w3-theme-d4-g {color:#fff !important; background-color:#00431d !important}
.w3-theme-d5-g {color:#fff !important; background-color:#003818 !important}

.w3-theme-light-g {color:#000 !important; background-color:#e7fff1 !important}
.w3-theme-dark-g {color:#fff !important; background-color:#003818 !important}
.w3-theme-action-g {color:#fff !important; background-color:#003818 !important}

.w3-theme-g {color:#fff !important; background-color:#007030 !important}
.w3-text-theme-g {color:#007030 !important}
.w3-border-theme-g {border-color:#007030 !important}

.w3-hover-theme-g:hover {color:#fff !important; background-color:#007030 !important}
.w3-hover-text-theme-g:hover {color:#007030 !important}
.w3-hover-border-theme-g:hover {border-color:#007030 !important}
