/* style.css */
.scrollable-list {
    height: 128px;
    /* overflow-y: auto; */
				float: left;
    width: 25%;
}

#mainIframe {
    width: 100%;
    max-width: fit-content;
    height: 100%;
    max-height: fit-content
    overflow: hidden; /* Prevent iframe scrolling */
				float: right;
}

.filters {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.user img {
    width: 100px; /* Adjust thumbnail size as needed */
    height: auto;
    cursor: pointer;
    margin: 5px;
}

.col-md-3, .col-md-6 {
	padding: 0;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
